/* Import Source Code Pro font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #413168, #cf7d8b);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
